# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
capacitor.config.json

misskey

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/extensions.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

src/missRirica-Web!/capacitor.config.json

public/misskey-v13

submodules/misskey-v13/packages/backend
submodules/misskey-v13/packages/sw
